.bg-orange {
  background-color: #f6d394;
}

.bg-very-unhealthy {
  background-color: #800080;
}

.bg-hazardous {
  background-color: #7e0024aa;
}

#root,
html {
  background-color: rgba(41, 52, 87, 0.718);
}
